body{
    background-color: #FFF3C8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

.cart{
    height: calc(100vh - 112px);
}

.fixed{
    position: fixed;
    /* transform: translateY(56px); */
}